body {
    margin: 0;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: darkslategray;
    height: 840px;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: red;
    margin-bottom: 100px;
    width: 100%;
}
.content {
    width: 10%;
    line-height: 2.5;
    margin-right: 20px;
    color: white;
    background-color: blue;
}



.nav-left {
    display: flex;
    background-color: gold;
}
.nav-right {
    background-color: lightsalmon;
    display: flex;
    align-items: center;
}



.nav-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightcoral;
}

.logo {
    height: 25px;
}
.nav-right > a {
    text-decoration: none;
    margin: 10px;
}
.nav-el {
    text-decoration: none;
    color: white;
}
.name-title {
    font-size: 60px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 40px;
}
.project-list {
    display: flex;
    flex-direction: column;
    color: white;
}