body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: darkslategray;
    height: 830px;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 100px;
}
.content {
    display: flex;
    width: 100%;
    color: white;
    justify-content: space-between;
    /* background-color: blue; */
    height: 100%;
}



.nav-left {
    display: flex;
    margin-left: 10px;
}
.nav-right {
    display: flex;
    align-items: center;
}



.nav-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo {
    height: 30px;
}
.nav-right > a {
    text-decoration: none;
    margin: 10px;
}
.nav-el {
    text-decoration: none;
    color: darkslategray;
}
.name-title {
    font-size: 60px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 40px;
    color: darkslategray;
}




.project-list {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
}
.project-list > a {
    color: darkslategray;
    text-decoration: none;
}
.project-list > a:hover {
    text-decoration: underline;
}
.arrow {
    font-size: 50px;
    /* margin-bottom: 40px; */
}
.rotated-arrow {
    transform: rotate(90deg);
    /* background-color: orange; */
    font-size: 100px;
    margin-left: 100px;
    /* height: 50px; */
}




.cont-left {
    /* background-color: lightpink; */
}
.cont-left-in {
    display: flex;
    align-items: center;
    /* background-color: greenyellow; */
}
.cont-left-in > p {
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
}
.cont-mid-1 {
    display: flex;
    align-items: flex-end;
    /* background-color: gold; */
    width: 20%;
    line-height: 2.5;
    text-align: center;
}
.cont-mid-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: lightskyblue; */
}
.cont-right {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: lightcoral; */
    width: 20%;
}



.cont-mid-1 > p {
    margin-bottom: 80px;
}
.cont-mid-2 > p {
    margin-top: 200px;
    /* font-size: 18px; */
}